.icon {
  all: initial;

  color: inherit;
  fill: currentColor;

  margin: 0;
  padding: 0;
  max-width: 100%;
  width: var(--icon-size);
  height: var(--icon-size);

  cursor: inherit;
}

.iconExt {
  all: initial;
  color: inherit;
  fill: currentColor;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: var(--icon-size-ext);
  height: var(--icon-size-ext);
  cursor: inherit;
}
